<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NavigatorPluginSample.Properties.Settings.CobraContoConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=CobraConto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>